@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #2f2f2f;    
}

body{
    font-family: 'Ubuntu', sans-serif;
    min-height: 100vh;
    background: #ECEEF1;
    background: linear-gradient(158deg, rgb(224, 224, 224) 0%, rgb(233, 237, 254) 100%);
}