@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* define a css color variable */
:root{
    --my-main-color: #46a997;
    --my-main-color-light: #46a997;
    --my-text-color: #333;
    --my-text-color-light: #474646;
    --my-body: #f5f6f6;
    --my-form-bg: #fff;
}

body{
    font-family: 'Ubuntu', sans-serif;
    min-height: 100vh;
    background-color: var(--my-body);
}

.inputField{
    border-radius: 20px;
}

